@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  @apply bg-stone-950;
}

@layer utilities {
  @layer utilities {
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}
